<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-element">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }

      .container {
        width: 83.33%;
        height:55.94%;
        border: 1px solid #000;
        margin: 0px auto;
      }

      .container-information {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
      }
      input {
        width: 80%;
        margin: 0% auto;
      }

      label{
        text-align: left;
        margin-left: 9.2%;
      }

      button {
        margin: 0% auto;
        margin-top: 12%;
        margin-bottom: 12%;
        border-radius: 5px;
        width: 30%;
        background-color: #D81717;
        height: 10%;
      }

      button:hover {
        background-color: #F26464;
      }

    </style>

    <h2>[[prop1]]!</h2>

    <section class="container">
      <form>
        <section class="container-information">
          <label>Label</label>
          <input type="text" >
          <label>Label</label>
          <input type="text" >
          <label>Label</label>
          <input type="text" >
          <label>Label</label>
          <input type="text" > 
          <button>Save Information</button> 
        </section>
      </form>
    </section>
  </template>

  <script>
    //Cambios y màs cambios
    /**
     * `information-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationElement extends Polymer.Element {
      static get is() { return 'information-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Confirmation'
          }
        };
      }
    }

    window.customElements.define(InformationElement.is, InformationElement);
  </script>
</dom-module>
